.main {
  display: flex;
  flex-direction: column;

  max-width: 868px;
  padding: 34px 35px 65px 35px;

  background: #DDF3FF;
  border-radius: 10px;


  > .content {
    display: flex;
    flex-direction: column;
    gap: 33px;

    > .radioSelect {
      min-height: 135px;
    }

    > .title {
      display: flex;

      font-size: 20px;
      font-weight: 700;
      font-style: normal;
      line-height: normal;
      color: #000;
    }


  }

  > .error {
    display: flex;
    align-items: center;

    height: 35px;

    font-size: 12px;
    color: red;

    visibility: visible;
    opacity: 1;

    transition: 0.5s ease visibility, 0.5s ease opacity;

    &.hide {
      visibility: hidden;
      opacity: 0;
    }
  }

  > .btns {
    display: flex;
    gap: 10px;


    > .prevButton {
      color: #000;
      background: #FFF;
    }

    > .nextStepButton {
      color: #FFF;
      background: #00A5FF;
    }

    button {
      cursor: pointer;
      user-select: none;

      padding: 10px 15px;

      font-size: 15px;
      font-weight: 700;
      font-style: normal;
      line-height: 11px;
      text-align: center;

      border: unset;
      border-radius: 5px;
    }
  }
}
