.main {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px;

  @media (min-width: 768px) and (max-width: 1440px) {
    & {
      padding: 0 35px;

    }
  }

  @media (min-width: 0px) and (max-width: 768px) {
    & {
      padding: 0 20px;

    }
  }
}